<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{base :: layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Order Details</title>
</head>

<body>
	<section>
		<div class="container p-4 shadow-sm bg-white rounded"
			style="margin-top: 70px; margin-bottom: 55px;">

			<h3 class="text-center mb-4">Order Summary</h3>

			<div class="row mb-4">
				<div class="col-md-6">
					<p>
						<strong>Order ID:</strong> [[${order.orderId}]]
					</p>
					<p>
						<strong>Order Date:</strong> <span
							th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy HH:mm')}"></span>
					</p>
					<p>
						<strong>Payment Type:</strong> [[${order.paymentType}]]
					</p>
					<!-- <p>
						<strong>Order Status:</strong> [[${order.orderStatus}]]
					</p> -->
				</div>

				<div class="col-md-6">
					<h5>Shipping Address</h5>
					<p>
						[[${order.orderAddress2.firstName}]]
						[[${order.orderAddress2.lastName}]]<br>
						[[${order.orderAddress2.address}]]<br>
						[[${order.orderAddress2.city}]], [[${order.orderAddress2.state}]]
						- [[${order.orderAddress2.pincode}]]<br> Mobile:
						[[${order.orderAddress2.mobileNo}]]<br> Email:
						[[${order.orderAddress2.email}]]
					</p>
				</div>
			</div>

			<th:block
				th:if="${order.orderStatus != null and order.orderStatus.toLowerCase() == 'cancelled'}">
				<div
					class="bg-danger text-center text-white col-md-4 offset-md-4 p-1">
					<p class="d-flex justify-content-center align-items-center">Order
						Cancelled</p>
				</div>
			</th:block>

			<th:block
				th:unless="${order.orderStatus.toLowerCase() == 'Cancelled'}">

				<div class="container mt-5">

					<div class="position-relative" style="margin-left: 15px;">

						<div class="border-start border-3 border-secondary ps-3"
							style="height: 90%; position: absolute; top: 10px; left: 8px; z-index: 1;"></div>

						<div th:each="s, stat : ${steps}"
							class="mb-4 d-flex align-items-start">
							<div class="me-3">
								<div
									th:classappend="${stat.index <= currentStep} ? 'bg-success' : 'bg-secondary'"
									class="rounded-circle d-flex justify-content-center align-items-center"
									style="width: 20px; height: 20px; color: white;">
									<i class="fas fa-check"></i>
								</div>
							</div>
							<div>
								<p class="m-0 fw-bold" th:text="${s.name}">Step Name</p>
								<!-- <small th:if="${stat.index == currentStep}" class="text-muted">This
								is your current step</small> -->
							</div>
						</div>

					</div>
				</div>
			</th:block>


			<h4 class="mb-3">Ordered Items</h4>

			<div class="card mb-3 shadow-sm">
				<div class="row p-3">
					<div class="col-md-1">
						<img th:src="@{'/images/product/' + ${product.product.image}}"
							width="70px" class="img-fluid" alt="product" />
					</div>
					<div class="col-md-6">
						<h5>[[${product.product.title}]]</h5>
						<p
							th:text="${#strings.abbreviate(product.product.description, 100)}"></p>
						<p>Category: [[${product.product.category}]]</p>
					</div>
					<div
						class="col-md-2 d-flex justify-content-center align-items-center">
						<p>
							Quantity: <strong>[[${product.quantity}]]</strong>
						</p>
					</div>
					<div
						class="col-md-2 d-flex justify-content-center align-items-center">
						<p>Total: ₹[[${product.totalPrice}]]</p>
					</div>
				</div>
			</div>

			<th:block th:if="order.paymentType == paid">
				<div class="text-start mt-3 col-md-4">

					<hr />
					<p>Price Details</p>
					<hr />

					<table class="table table-borderless">
						<thead>
							<tr>
								<td>List price</td>
								<td class="text-decoration-line-through">₹[[${product.product.price}]]</td>

							</tr>
						</thead>
						<tbody>

							<tr>
								<td>Selling price</td>
								<td>₹[[${product.product.discountPrice}]]</td>

							</tr>
							<tr>
								<td>Tax</td>
								<td>₹[[(${product.totalPrice} * 3)/100]]</td>

							</tr>
							<tr>
								<td>Delivery charge</td>
								<td
									th:text="|₹${order.orderedProducts.size() > 0 ? 25 / order.orderedProducts.size() : 0}|"></td>

							</tr>

							<tr style="border-top: 1px dotted black;">

								<td>Total Amount</td>
								<td>₹[[${product.totalPrice} + ((${product.totalPrice} *
									3)/100) + ${25 / order.orderedProducts.size()}]]</td>

							</tr>

						</tbody>
					</table>

					<hr />

					<p class="text-decoratin-dot">Amount Paid:
						₹[[${product.totalPrice} + ((${product.totalPrice} * 3)/100) +
						${25 / order.orderedProducts.size()}]]</p>

				</div>
			</th:block>

			<th:block th:unless="order.paymentType == paid">
				<div class="text-start mt-3 col-md-4">

					<hr />
					<p>Price Details</p>
					<hr />

					<table class="table table-borderless">
						<thead>
							<tr>
								<td>List price</td>
								<td class="text-decoration-line-through">₹[[${product.product.price}]]</td>

							</tr>
						</thead>
						<tbody>

							<tr>
								<td>Selling price</td>
								<td>₹[[${product.product.discountPrice}]]</td>

							</tr>
							<tr>
								<td>Tax</td>
								<td>₹[[(${product.totalPrice} * 3)/100]]</td>

							</tr>
							<tr>
								<td>Delivery charge</td>
								<td
									th:text="|₹${order.orderedProducts.size() > 0 ? 25 / order.orderedProducts.size() : 0}|"></td>

							</tr>

							<tr style="border-top: 1px dotted black;">

								<td>Total Amount</td>
								<td>₹[[${product.totalPrice} + ((${product.totalPrice} *
									3)/100) + ${25 / order.orderedProducts.size()}]]</td>

							</tr>

						</tbody>
					</table>

					<hr />

					<p class="text-decoratin-dot">Cash On Delivery:
						₹[[${product.totalPrice} + ((${product.totalPrice} * 3)/100) +
						${25 / order.orderedProducts.size()}]]</p>

				</div>
			</th:block>

		</div>
	</section>
</body>

</html>
