<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="~{base :: layout(~{:: section})}">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>

		<div class="container my-5 p-4 col-md-8 offset-md-2"
			style="margin-top: 100px;">
			<div class="row ">

				<div class="col-md-6">

					<img src="" alt="img" />

				</div>

				<div class="col-md-6 mt-3 card2">



					<div class="my-card mt-1">

						<form id="login-form" class="form"
							th:action="@{process-forgot-password}" method="post">

							<h1 class="text-center">Forgot Password !!</h1>

							<div th:if="${message}" th:classappend="${message.type}"
								class="alert text-center" role="alert">
								<p th:text="${message.content}"></p>

							</div>

							<!-- login error message -->

							<div th:if="${param.error}"
								class="alert alert-danger text-center">
								[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>

							<!-- logout message -->

							<div th:if="${param.logout}"
								class="alert alert-success text-center">You have been
								logged out</div>


							<!-- Email input -->
							<div class="form-floating my-3">
								<input type="email" id="form3Example3" name="email"
									class="form-control form-control-lg"
									placeholder="Enter a valid email address" /> <label
									class="form-label" for="form3Example3">Email address</label>

							</div>



							<!-- Submit button -->

							<div class="text-center mt-4 pt-2">
								<button type="submit" data-mdb-button-init data-mdb-ripple-init
									class="btn btn-primary btn-lg"
									style="padding-left: 2.5rem; padding-right: 2.5rem;">Send
									otp</button>



							</div>

						</form>
					</div>

				</div>

			</div>

		</div>

	</section>

</body>
</html>