<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:replace="~{base :: layout(~{:: section})}">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>

		<div class="container my-5 p-4 col-md-8 offset-md-2"
			style="margin-top: 100px;">
			<div class="row card2">

				<div class="col-md-6">

					<img src="" alt="img" />

				</div>

				<div class="col-md-6 mt-3">



					<div class="my-card mt-1">

						<form id="login-form" class="form"
							th:action="@{process-reset-password}" method="post">

							<h1 class="text-center">Reset Password !!</h1>

							<div th:if="${message}" th:classappend="${message.type}"
								class="alert col-md-8 offset-md-2 mb-0" role="alert">
								<p th:text="${message.content}"></p>

							</div>

							<!-- Password input -->
							<div class="form-floating mb-3">
								<input required="required" type="password" id="loginPassword"
									name="newPassword" class="form-control form-control-lg"
									placeholder="Enter password" /> <label class="form-label"
									for="form3Example4">New Password</label> <i
									class="fa-regular fa-eye-slash" id="toggleLogin"
									style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>


							</div>

							<!-- Password input -->
							<div class="form-floating mb-3">
								<input required="required" type="password" id="loginPassword"
									name="confirmPassword" class="form-control form-control-lg"
									placeholder="Enter password" /> <label class="form-label"
									for="form3Example4">Confirm Password Password</label> <i
									class="fa-regular fa-eye-slash" id="toggleLogin"
									style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>


							</div>


							<input type="hidden" name="token" th:value="${token}" />

							<!-- Submit button -->

							<div class="text-center mt-4 pt-2">
								<button type="submit" data-mdb-button-init data-mdb-ripple-init
									class="btn btn-primary btn-lg"
									style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset
									Password</button>



							</div>

						</form>
					</div>

				</div>

			</div>

		</div>

	</section>

</body>
</html>